{% extends "main/base_generic.html" %}

{% block title %}Enginetoday | 404{% endblock %}

{% block page %}404 ERROR{% endblock %}
{% block page1 %}404{% endblock %}

  {% block content %}
  <section id="aa-error">
    <div class="container">
      <row>
        <div class="col-md-12">
          <div class="aa-error-area">
            <h2>404</h2>
            <p><span class="fa fa-warning"></span>Oops! The Page you requested was not found!</p>
            <a href="{% url 'main:index' %}">Back Home</a>
          </div>
        </div>
      </row>
    </div>
  </section>
{% endblock %}

