{% extends "main/base_generic.html" %}

{% block title %}Enginetoday | Tack för att du skapat konto{% endblock %}

{% block content %}
  <!-- Start Proerty header  -->
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Tack för att du skapat konto</h2>
            <ol class="breadcrumb">
            <li><a href="#">Hem</a></li>
            <li>ATack för att du skapat konto</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Proerty header  -->
  <section id="aa-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-gallery-area">
            <div class="aa-title">
              <h2>Tack för att du skapat konto</h2>
              <span></span>
               <p>Tack för din registrering! Du får nu ett bekräftelsemail till den adress du angav. Klicka på länken i mejlet för att verifiera kontot.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}