{% extends "main/base_generic.html" %}

{% block title %}Enginetoday | AKTIVgftt2                                                                                                        RA KONTO{% endblock %}

{% block content %}
  <section id="aa-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-gallery-area">
            <div class="aa-title">
              <h2>Aktivera Konto</h2>
              <span></span>
               <p>Tack för att du aktiverat ditt konto!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}